@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans:100,200,300,400,500,600,700|Fredoka+One:100,200,300,400,500,600,700');

//----------------------------------- VARIABLES

// Brand colours

$off-white: #f5f5f5;
$yellow: #ffe933;
$peach: #ffcc66;
$orange: #ffcc33;
$light-green: #66cc99;
$dark-green: #339966;
$light-blue: #33cccc;
$dark-blue: #336666;

// Fonts

$simple-font: 'Fredoka One', cursive;
$fun-font: 'Bubblegum Sans', cursive;