@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans:100,200,300,400,500,600,700|Fredoka+One:100,200,300,400,500,600,700');

//----------------------------------- VARIABLES

// Brand colours

$dark-blue: #336666;
$light-blue: #33cccc;
$off-white: #f5f5f5;

// Fonts

$simple-font: 'Fredoka One', cursive;
$fun-font: 'Bubblegum Sans', cursive;