@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans:100,200,300,400,500,600,700|Fredoka+One:100,200,300,400,500,600,700");
/*----------------------------------- HEADINGS */
h1 {
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #336666; }

h2 {
  font-family: "Bubblegum Sans", cursive;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #336666; }

.info-title h2 {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #336666; }

h3 {
  font-family: "Fredoka One", cursive;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  color: #336666; }

h4 {
  font-family: "Bubblegum Sans", cursive;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding-top: 4px;
  /*fixes alignment with h1*/
  color: #336666; }

h5 {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #336666; }

p {
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #336666; }

button p {
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: white; }

/*----------------------------------- BACKGROUNDS */
.background-cover-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.avatar {
  width: 120px;
  height: 120px;
  background-size: contain;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.avatar-default {
  background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png"); }

.avatar:hover {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22); }

.trophy {
  width: 120px;
  height: 120px;
  background-image: url("https://i.ibb.co/1JD5mS2/trophy.png");
  background-size: contain;
  position: relative; }

.cars-cover {
  background-image: url("https://i.ibb.co/x1wmBCq/lightning-main.jpg"); }

.frozen-cover {
  background-image: url("https://i.ibb.co/b77KKd9/Elsa-Anna-main.jpg"); }

.toystory-cover {
  background-image: url("https://i.ibb.co/Lh6Y23z/woody-main.jpg"); }

.plant-cover {
  background-image: url("https://i.ibb.co/j3T7F2Y/plant.jpg"); }

.toycar-cover {
  background-image: url("https://i.ibb.co/dfMH7zb/car.png"); }

.strawberry-cover {
  background-image: url("https://i.ibb.co/LZhQ7dG/strawberry.png"); }

/* MODAL BACKGROUNDS */
.modal-background {
  height: auto;
  width: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px; }

.info-modal-background {
  background-color: #66cc99;
  background-image: url("https://i.ibb.co/M2hwYnc/comic-green-bg.jpg"); }

.win-modal-background {
  background-image: url("https://i.ibb.co/T294Qz7/comic-orange-bg.jpg");
  background-color: #ffcc33; }

/* removes bootstrap background settings on modal */
.modal-content {
  background-color: transparent;
  border: none; }

/*----------------------------------- CONTAINERS */
/* to get rid of overflow on pages*/
.row, .container-fluid {
  margin-left: 0;
  margin-right: 0; }

.box-white-curved-corners {
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px; }

.dashboard {
  height: 100vh;
  background-color: #33cccc;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
  padding: 0;
  z-index: 1; }

.game-board {
  height: 100vh;
  padding: 0;
  background-image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/* BUTTONS */
.selection-button button,
.selection-button img {
  height: 80px;
  width: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/*----------------------------------- DASHBOARD */
.dashboard {
  height: 100vh;
  background-color: #33cccc;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
  padding: 0;
  z-index: 1; }

/* USER INFO SECTION */
.user-info {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22); }

.dashboard-section {
  margin: 1rem;
  padding: 1rem 0rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22); }

.username-container {
  width: 150px;
  height: 35px; }

.star {
  color: #ffe933;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.stars .star {
  font-size: 1.5rem; }

/* DIFFICULTY SELECTION SECTION */
.btn,
.pack-selection-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: 3px solid #336666; }

button .star {
  font-size: 0.6rem;
  color: white; }

button p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem; }

/* CARD PACK SELECTION SECTION */
.pack-selection-button {
  height: 80px;
  width: 80px; }

/* DASHBOARD CONTROLS */
.circle-btn {
  height: 80px;
  width: 80px;
  border: 4px solid #336666;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.circle-btn .fas {
  font-size: 2.5rem;
  color: #336666; }

/*----------------------------------- GAME BOARD */
.game-board {
  height: 100vh;
  padding: 0;
  background-image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.game-board-header {
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.my-card-column-easy,
.my-card-column-medium,
.my-card-column-hard {
  /*see media queries below for adjustments to card column size to fit other screens*/
  height: 130px;
  padding: 0; }

.card-container {
  /*see media queries below for adjustments to card size to fit other screens*/
  width: 120px;
  height: 120px;
  border-radius: 8px; }

.game-card {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  /*clearer shadow to stand out on picture background*/ }

.game-card-back {
  background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png");
  border-radius: 8px; }

.lightning {
  background-image: url("https://i.ibb.co/fXTswXC/lightning.jpg");
  border-radius: 8px; }

.cruz {
  background-image: url("https://i.ibb.co/GJQYqrq/Cruz.jpg");
  border-radius: 8px; }

.doc {
  background-image: url("https://i.ibb.co/N2d61bW/Doc.jpg");
  border-radius: 8px; }

.fillmore {
  background-image: url("https://i.ibb.co/8BGbs6d/Fillmore.jpg");
  border-radius: 8px; }

.jackson-storm {
  background-image: url("https://i.ibb.co/8MxHcbd/Jackson-Storm.jpg");
  border-radius: 8px; }

.mac {
  background-image: url("https://i.ibb.co/PFTHfCH/Mac.jpg");
  border-radius: 8px; }

.mater {
  background-image: url("https://i.ibb.co/R3KNZtZ/Mater.jpg");
  border-radius: 8px; }

.sally {
  background-image: url("https://i.ibb.co/8svM53T/Sally.jpg");
  border-radius: 8px; }

.elsa {
  background-image: url("https://i.ibb.co/GvCLg87/Elsa.jpg");
  border-radius: 8px; }

.anna {
  background-image: url("https://i.ibb.co/9qyMkQJ/Anna.jpg");
  border-radius: 8px; }

.olaf {
  background-image: url("https://i.ibb.co/LtqC4cz/Olaf.jpg");
  border-radius: 8px; }

.kristoff {
  background-image: url("https://i.ibb.co/JskWQhB/Kristoff.jpg");
  border-radius: 8px; }

.hans {
  background-image: url("https://i.ibb.co/tp2qxzM/Hans.jpg");
  border-radius: 8px; }

.sven {
  background-image: url("https://i.ibb.co/7SWWWrR/Sven.jpg");
  border-radius: 8px; }

.elsa-anna {
  background-image: url("https://i.ibb.co/NKNX2qq/Elsa-Anna.jpg");
  border-radius: 8px; }

.olaf-sven {
  background-image: url("https://i.ibb.co/WfPwybd/Olaf-Sven.jpg");
  border-radius: 8px; }

.woody {
  background-image: url("https://i.ibb.co/rpjCZnK/Woody.jpg");
  border-radius: 8px; }

.buzz {
  background-image: url("https://i.ibb.co/WyhbvPT/Buzz.jpg");
  border-radius: 8px; }

.rex {
  background-image: url("https://i.ibb.co/JvZZ4ht/rex.jpg");
  border-radius: 8px; }

.alien {
  background-image: url("https://i.ibb.co/gVWz130/alien.jpg");
  border-radius: 8px; }

.jessie {
  background-image: url("https://i.ibb.co/2Sttw4m/Jessie.jpg");
  border-radius: 8px; }

.potato {
  background-image: url("https://i.ibb.co/56ySCKB/Potato.jpg");
  border-radius: 8px; }

.lotso {
  background-image: url("https://i.ibb.co/WFBN3rC/Lotso.jpg");
  border-radius: 8px; }

.bullseye {
  background-image: url("https://i.ibb.co/0GPn4CN/Bullseye.jpg");
  border-radius: 8px; }

/* Code for flipping cards taken from w3schools and adjusted to my needs: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  /* for 3D effect */ }

/* Positions the front and back sides of card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: scale(1); }

/* indents card slightly on click, before flip */
.flip-card:active {
  transform: scale(0.97);
  transition: transform .2s; }

/* Horizontal flip when you click flip box container */
.flip-card.face-up .flip-card-inner {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.turnBack {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* Positions the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

/* Styles the back side */
.flip-card-back {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.disabled {
  pointer-events: none; }

/*----------------------------------- MODALS */
.my-modal-title {
  padding-top: 1rem; }

/* USER MODAL */
/* modal radio button fix sourced from: 
https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
and ajusted to project needs*/
/* hides radio button, makes clickable area cover button image */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 80px;
  height: 80px; }

/* radio checked */
[type=radio]:checked + img {
  outline: 4px solid #33cccc; }

/* adjusts radio check field input to full size of image */
.form-check-input {
  margin-top: 0;
  margin-left: 0; }

/* INFO MODAL */
.fa-clone {
  color: #339966; }

.fa-trophy {
  color: #ffcc33; }

.fa-star {
  color: yellow; }

.fa-3x {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.info-box p {
  margin-bottom: 0.5rem;
  line-height: 2rem; }

/* WIN MODAL */
.win-stars {
  margin-top: 1rem;
  margin-bottom: 2rem; }

/*----------------------------------- MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  /*phones, tablets and smaller desktops*/ }
@media screen and (max-width: 992px) {
  /*phones and tablets*/
  h1, h4 {
    font-size: 30px; }

  .card-container {
    width: 90px;
    height: 90px; }

  .my-card-column-easy,
  .my-card-column-medium,
  .my-card-column-hard {
    height: 100px; } }
@media screen and (max-width: 768px) {
  /*phones*/
  /* fixes dashboard height issue on phones*/
  .dashboard {
    height: 100%; }

  h1, h4 {
    font-size: 25px; }

  .card-container {
    width: 120px;
    height: 120px; }

  .my-card-column-easy,
  .my-card-column-medium,
  .my-card-column-hard {
    height: 130px; } }
@media screen and (max-width: 576px) {
  /*small phones*/
  /* fixes dashboard height issue on phones*/
  .card-container {
    width: 80px;
    height: 80px; }

  .my-card-column-easy,
  .my-card-column-medium,
  .my-card-column-hard {
    height: 90px; } }

/*# sourceMappingURL=main.css.map */
