/*----------------------------------- HEADINGS */

h1, h2{
    font: {
        family: $simple-font;
        size: 40px;
        weight: 100;
    }
    text: {
        align: center;
        shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    color: $dark-blue;
}

h3 {
    font: {
        family: $fun-font;
        size: 30px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

.info-title h3 {
    font: {
        family: $simple-font;
        size: 35px;
        weight: 100;
    }
    text: {
        align: center;
        shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    color: $dark-blue;
}

h4 {
    font: {
        family: $simple-font;
        size: 25px;
        weight: 200;
    }
    text-align: center;
    color: $dark-blue;
}

h5 {
    font: {
        family: $fun-font;
        size: 40px;
        weight: 100;
    }
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding-top: 4px; /*fixes alignment with h1*/
    color: $dark-blue;
}

h6 {
    font: {
        family: $simple-font;
        size: 20px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

/* Other fonts */

.picflip-footer {
    font-size: 17px;
    color: white;
}

p {
    font: {
        family: $fun-font;
        size: 20px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

button {
    font: {
        family: $fun-font;
        size: 20px!important; //overrides default styles on bootstrap
        weight: 100;
    }
    color: white!important; //overrides default styles on bootstrap
}

.info-modal-text {
    font-size: 1.1em;
    line-height: 0.2em;
}

/* BACKGROUNDS */

.avatar-default {
    background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png");
}

.trophy {
    background-image: url("https://i.ibb.co/1JD5mS2/trophy.png");
}

.cars-cover {
    background-image: url("https://i.ibb.co/x1wmBCq/lightning-main.jpg");
}

.frozen-cover {
    background-image: url("https://i.ibb.co/b77KKd9/Elsa-Anna-main.jpg");
}

.toystory-cover {
    background-image: url("https://i.ibb.co/Lh6Y23z/woody-main.jpg");
}

.plant-cover {
    background-image: url("https://i.ibb.co/j3T7F2Y/plant.jpg");
}

.toycar-cover {
    background-image: url("https://i.ibb.co/dfMH7zb/car.png"); 
}

.strawberry-cover {
    background-image: url("https://i.ibb.co/LZhQ7dG/strawberry.png");
}

/* MODAL BACKGROUNDS */

.modal-background {
    height: auto;
    width: auto;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.info-modal-background {
    background-image: url("https://i.ibb.co/M2hwYnc/comic-green-bg.jpg");
    background-color: $light-green;
}

.win-modal-background {
    background-image: url("https://i.ibb.co/T294Qz7/comic-orange-bg.jpg");
    background-color: $orange;
}

/* removes bootstrap background settings on modal so my custom ones show up */
.modal-content {
    background-color: transparent;
    border: none;
}

.background-cover-center {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

/* see media querues for size adjustment on mobiles */
.trophy, #avatar {
    width: 120px;
    height: 120px;
    margin: 0.3rem;
    position: relative;
    display: inline-block;
    background-size: contain;
}

/* CONTAINERS */

/* to get rid of overflow on pages*/
.row, .container-fluid { 
    margin: {
        left: 0;
        right: 0;
    }
}
/* fix display issues on mobiles*/
#content-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

#body-wrapper {
    background: {
        image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
    /* fixes background image so it does not scroll. BUG fix for mobile screens in media queries */
    background-attachment: fixed;
}

.box-white-curved-corners {
    background-color: $off-white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.dashboard {
    min-height: 100vh;
    background-color: $light-blue;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
            box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
    padding: 0;
    
}

.game-board {
    height: 100vh;
    padding: 0;
}

/* BUTTONS */

.selection-button button,
.selection-button img {
    height: 80px;
    width: 80px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* FOOTER */

/* see media queries for smaller padding on mobiles*/
.github-icon, 
.developer-info, 
.picflip-footer {
    display: inline;
    padding: 1rem 1rem 0rem 1rem;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.fa-github-alt {
    -o-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
}

.fa-github-alt:hover {
    color: black;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.pull-up-tab {
    border-radius: 8px 8px 0px 0px;
    width: 150px;
    height: 35px;
    cursor: pointer;
}

#footerTabContainer {
    margin-top: -35px;
    overflow: hidden;
    z-index: 2;
    -o-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
}

#pullUpTabIcon, 
#pullUpTabText {
    display: inline;
}

.hide-zero-height {
    height: 0;
    -o-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
}

#footerTabContainer.active-footer {
    -o-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    margin-top: -80px;
    footer {
        height: 45px;
    }
}

.pull-up-tab p {
    font-family: $fun-font;
    color: white;
}

.fa-arrow-up,
.fa-arrow-down {
    color: white;
    font-size: 18px;
}