/*----------------------------------- HEADINGS */

h1 {
    font: {
        family: $simple-font;
        size: 40px;
        weight: 100;
    }
    text: {
        align: center;
        shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    color: $dark-blue;
}

h2 {
    font: {
        family: $fun-font;
        size: 30px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

.info-title h2 {
    font: {
        family: $simple-font;
        size: 35px;
        weight: 100;
    }
    text: {
        align: center;
        shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    color: $dark-blue;
}

h3 {
    font: {
        family: $simple-font;
        size: 25px;
        weight: 200;
    }
    text-align: center;
    color: $dark-blue;
}

h4 {
    font: {
        family: $fun-font;
        size: 40px;
        weight: 100;
    }
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding-top: 4px; /*fixes alignment with h1*/
    color: $dark-blue;
}

h5 {
    font: {
        family: $simple-font;
        size: 20px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

p {
    font: {
        family: $fun-font;
        size: 20px;
        weight: 100;
    }
    text-align: center;
    color: $dark-blue;
}

button p {
    font: {
        family: $fun-font;
        size: 20px;
        weight: 100;
    }
    text-align: center;
    color: white;
}

/*----------------------------------- BACKGROUNDS */

.background-cover-center {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

/* see media querues for size adjustment on mobiles */
.trophy, .avatar {
    width: 120px;
    height: 120px;
    margin: 0.3rem;
    position: relative;
    display: inline-block;
    background-size: contain;
}

.avatar-default {
    background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png");
}

.trophy {
    background-image: url("https://i.ibb.co/1JD5mS2/trophy.png");
}

.cars-cover {
    background-image: url("https://i.ibb.co/x1wmBCq/lightning-main.jpg");
}

.frozen-cover {
    background-image: url("https://i.ibb.co/b77KKd9/Elsa-Anna-main.jpg");
}

.toystory-cover {
    background-image: url("https://i.ibb.co/Lh6Y23z/woody-main.jpg");
}

.plant-cover {
    background-image: url("https://i.ibb.co/j3T7F2Y/plant.jpg");
}

.toycar-cover {
    background-image: url("https://i.ibb.co/dfMH7zb/car.png"); 
}

.strawberry-cover {
    background-image: url("https://i.ibb.co/LZhQ7dG/strawberry.png");
}

/* MODAL BACKGROUNDS */

.modal-background {
    height: auto;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.info-modal-background {
    background-image: url("https://i.ibb.co/M2hwYnc/comic-green-bg.jpg");
    background-color: $light-green;
}

.win-modal-background {
    background-image: url("https://i.ibb.co/T294Qz7/comic-orange-bg.jpg");
    background-color: $orange;
}

/* removes bootstrap background settings on modal so my custom ones show up */
.modal-content {
    background-color: transparent;
    border: none;
}

/*----------------------------------- CONTAINERS */

/* to get rid of overflow on pages*/
.row, .container-fluid { 
    margin: {
        left: 0;
        right: 0;
    }
}

#body-wrapper {
    background: {
        image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
    /* fixes background image so it does not scroll. BUG fix for mobile screens */
    background-attachment: fixed;
}

.box-white-curved-corners {
    background-color: $off-white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.dashboard {
    height: 100vh;
    background-color: $light-blue;
    box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
    padding: 0;
    z-index: 1;
}

.game-board {
    height: 100vh;
    padding: 0;
}

/* BUTTONS */

.selection-button button,
.selection-button img {
    height: 80px;
    width: 80px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



