/*----------------------------------- MEDIA QUERIES */

@media screen and (max-width: 992px) { /*phones and tablets*/

    h1, h2, h5 {
    font-size: 30px;
    }
    .card-container {
        width: 90px;
        height: 90px;
    }
    .my-card-column-easy,
    .my-card-column-medium,
    .my-card-column-hard {
        height: 100px;
    }
    .dashboard-section {
        width: 290px;
    }
}

@media screen and (max-width: 767px){ /*phones*/
    h1 {
        font-size: 26px;
    }
    h2{
        font-size: 22px;
    }
    h5 {
       font-size: 24px; 
    }
    .info-box > p {
        font-size: 17px;
        line-height: 1.5rem;
    }
    .info-box {
        margin: 0.5em 0em!important;
        padding: 1em!important;
    }
    .fa-3x {
        font-size: 2em;   
    }
    .card-container {
        width: 120px;
        height: 120px;
    }
    .my-card-column-easy,
    .my-card-column-medium,
    .my-card-column-hard {
        height: 130px;
    }
    .github-icon, 
    .developer-info, 
    .picflip-footer {
        padding: 0.4rem;
    }
    /* fixes dashboard and gameboard height issue on phones*/
    .dashboard, 
    .game-board {
        height: auto; 
    }
    .dashboard {
        min-height: auto; 
    }
    #math-question {
    font-size: 2.5rem;
    }
}

@media screen and (max-width: 576px){ /*small phones*/
    button .star {
        font-size: 0.4rem;
    }
    .card-container {
        width: 80px;
        height: 80px;
    }
    .my-card-column-easy,
    .my-card-column-medium,
    .my-card-column-hard {
        height: 90px;
    }
    .dashboard-section {
        width: auto;
    }
    .trophy, #avatar {
    width: 100px;
    height: 100px;
    }
    .selection-button button {
        height: 70px;
        width: 70px;
    }
    [type=radio], 
    img.radio {
        height: 50px;
        width: 50px;
    }
    #footerTabContainer.active-footer {
    margin-top: -145px;
        footer {
            height: 110px; 
        }
    }
}
