/*----------------------------------- DASHBOARD */

/* USER INFO SECTION */

.user-info {
   box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

.dashboard-section {
    width: 300px;
    margin: 1rem;
    padding: 1rem 0rem;
    box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

.username-container {
    width: 150px;
    height: 35px;
}

.star {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.star.fas, .star.far {
    color: $yellow;
}
.star.far {
    text-shadow: none;
}

.stars .star {
    font-size: 1.5rem;
}

/* DIFFICULTY SELECTION SECTION */

.dashboard-btn {
    margin: 0.3rem;
}

.btn,
#avatar-radio {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    border: 3px solid $dark-blue;
}

button .star {
    font-size: 0.6rem;
    color: white!important; //overrides color from more specific css elsewhere
}

button p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}


/* DASHBOARD CONTROLS */

.circle-btn {
    height: 80px;
    width: 80px;
    border: 4px solid $dark-blue;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.circle-btn .fas {
    font-size: 2.5rem;
    color: $dark-blue;
}

