/*----------------------------------- GAME BOARD */

.game-board {
    height: 100vh;
    padding: 0;
    background: {
        image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

.game-board-header {
    background-color: $off-white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.my-card-column-easy,
.my-card-column-medium,
.my-card-column-hard {
    /*see media queries below for adjustments to card column size to fit other screens*/
    height: 130px;
    padding: 0;
}

.card-container {
    /*see media queries below for adjustments to card size to fit other screens*/
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.game-card {
    width: 100%;
    height: 100%;
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5); /*clearer shadow to stand out on picture background*/
}

.game-card-back {
    background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png");
    border-radius: 8px;
}

.lightning {
    background-image: url("https://i.ibb.co/fXTswXC/lightning.jpg");
    border-radius: 8px;
}

.cruz {
    background-image: url("https://i.ibb.co/GJQYqrq/Cruz.jpg");
    border-radius: 8px;
}

.doc {
    background-image: url("https://i.ibb.co/N2d61bW/Doc.jpg");
    border-radius: 8px;
}

.fillmore {
    background-image: url("https://i.ibb.co/8BGbs6d/Fillmore.jpg");
    border-radius: 8px;
}

.jackson-storm {
    background-image: url("https://i.ibb.co/8MxHcbd/Jackson-Storm.jpg");
    border-radius: 8px;
}

.mac {
    background-image: url("https://i.ibb.co/PFTHfCH/Mac.jpg");
    border-radius: 8px;
}

.mater {
    background-image: url("https://i.ibb.co/R3KNZtZ/Mater.jpg");
    border-radius: 8px;
}

.sally {
    background-image: url("https://i.ibb.co/8svM53T/Sally.jpg");
    border-radius: 8px;
}

.elsa {
    background-image: url("https://i.ibb.co/GvCLg87/Elsa.jpg");
    border-radius: 8px;
}
.enna{
    background-image: url("https://i.ibb.co/9qyMkQJ/Anna.jpg");
    border-radius: 8px;
}
.olaf{
    background-image: url("https://i.ibb.co/LtqC4cz/Olaf.jpg");
    border-radius: 8px;
}
.kristoff{
    background-image: url("https://i.ibb.co/JskWQhB/Kristoff.jpg");
    border-radius: 8px;
}
.hans{
    background-image: url("https://i.ibb.co/tp2qxzM/Hans.jpg");
    border-radius: 8px;
}
.sven{
    background-image: url("https://i.ibb.co/7SWWWrR/Sven.jpg");
    border-radius: 8px;
}
.elsa-Anna{
    background-image: url("https://i.ibb.co/NKNX2qq/Elsa-Anna.jpg");
    border-radius: 8px;
}
.olaf-Sven{
    background-image: url("https://i.ibb.co/WfPwybd/Olaf-Sven.jpg");
    border-radius: 8px;
}
.woody{
    background-image: url("https://i.ibb.co/rpjCZnK/Woody.jpg");
    border-radius: 8px;
}
.buzz{
    background-image: url("https://i.ibb.co/WyhbvPT/Buzz.jpg");
    border-radius: 8px;
}
.rex{
    background-image: url("https://i.ibb.co/JvZZ4ht/rex.jpg");
    border-radius: 8px;
}
.alien{
    background-image: url("https://i.ibb.co/gVWz130/alien.jpg");
    border-radius: 8px;
}
.jessie{
    background-image: url("https://i.ibb.co/2Sttw4m/Jessie.jpg");
    border-radius: 8px;
}
.potato{
    background-image: url("https://i.ibb.co/56ySCKB/Potato.jpg");
    border-radius: 8px;
}
.lotso{
    background-image: url("https://i.ibb.co/WFBN3rC/Lotso.jpg");
    border-radius: 8px;
}
.bullseye{
    background-image: url("https://i.ibb.co/0GPn4CN/Bullseye.jpg");
    border-radius: 8px;
}



/* Code for flipping cards taken from w3schools and adjusted to my needs: https://www.w3schools.com/howto/howto_css_flip_card.asp */
 
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* for 3D effect */
}

/* Positions the front and back sides of card */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: scale(1);
}

/* indents card slightly on click, before flip */
.flip-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

/* Horizontal flip when you click flip box container */
.flip-card.face-up .flip-card-inner {
    transform: rotateY(180deg);
}

/* Positions the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Styles the back side */
.flip-card-back {
    transform: rotateY(180deg);
} 