/*----------------------------------- GAME BOARD */

.game-board {
    height: 100vh;
    padding: 0;
    background: {
        image: url("https://i.ibb.co/yYJqmDn/trains-background.jpg");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

.game-board-header {
    background-color: $off-white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.my-card-column {
    /*see media queries below for adjustments to card column size to fit other screens*/
    height: 130px;
}

.game-card {
    width: 100%;
    height: 100%;
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5); /*clearer shadow to stand out on picture background*/
}

.game-card-back {
    background-image: url("https://i.ibb.co/DQkPDHb/main-logo.png");
    border-radius: 8px;
}

.game-card-lightning {
    background-image: url("https://i.ibb.co/fXTswXC/lightning.jpg");
    border-radius: 8px;
}

.game-card-cruz {
    background-image: url("https://i.ibb.co/GJQYqrq/Cruz.jpg");
    border-radius: 8px;
}

.game-card-doc {
    background-image: url("https://i.ibb.co/N2d61bW/Doc.jpg");
    border-radius: 8px;
}

.game-card-fillmore {
    background-image: url("https://i.ibb.co/8BGbs6d/Fillmore.jpg");
    border-radius: 8px;
}

.game-card-jackson-storm {
    background-image: url("https://i.ibb.co/8MxHcbd/Jackson-Storm.jpg");
    border-radius: 8px;
}

.game-card-mac {
    background-image: url("https://i.ibb.co/PFTHfCH/Mac.jpg");
    border-radius: 8px;
}

.game-card-mater {
    background-image: url("https://i.ibb.co/R3KNZtZ/Mater.jpg");
    border-radius: 8px;
}

.game-card-sally {
    background-image: url("https://i.ibb.co/8svM53T/Sally.jpg");
    border-radius: 8px;
}

/* Code for flipping cards taken from w3schools and adjusted to my needs: https://www.w3schools.com/howto/howto_css_flip_card.asp */
 
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* for 3D effect */
}

/* Positions the front and back sides of card */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Horizontal flip when you move the mouse over the flip box container */
.flip-card.active .flip-card-inner {
    transform: rotateY(180deg);
}

/* Positions the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Styles the back side */
.flip-card-back {
    transform: rotateY(180deg);
} 