.how-to-play-container {
    padding: 5rem;
}

.how-to-play-title {
    padding-bottom: 2rem;
}

.fa-clone {
    color: $dark-green;
}

.fa-trophy {
    color: $orange;
}

.fa-star {
    color: yellow;
}