/*----------------------------------- HOW TO PLAY MODAL */

.info-modal-background {
    height: auto;
    width: auto;
    background-color: $light-green;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.info-title {
    padding-top: 1rem;
}

.fa-clone {
    color: $dark-green;
}

.fa-trophy {
    color: $orange;
}

.fa-star {
    color: yellow;
}

.fa-3x {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.info-box p {
    margin-bottom: 0.5rem;
    line-height: 2rem;
}
