/*----------------------------------- MODALS */

.my-modal-title {
    padding-top: 1rem;
}

/* MODAL BACKGROUNDS */

.modal-background {
    height: auto;
    width: auto;
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}

.info-modal-background {
    background-color: $light-green;
    background-image: url("https://i.ibb.co/M2hwYnc/comic-green-bg.jpg");
}

.win-modal-background {
    background-image: url("https://i.ibb.co/T294Qz7/comic-orange-bg.jpg");
    background-color: $orange;
}

/* removes bootstrap background settings on modal */
.modal-content {
    background-color: transparent;
    border: none;
}

/* USER MODAL */

/* modal radio button fix sourced from: 
https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
and ajusted to project needs*/

/* hides radio button, makes clickable area cover button image */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 80px;
  height: 80px;
}

/* radio checked */
[type=radio]:checked + img {
  outline: 4px solid $light-blue;
}

/* adjusts radio check field input to full size of image */
.form-check-input {
    margin-top: 0;
    margin-left: 0;
}

.strawberry-cover {
    background: {
        image: url("https://i.ibb.co/j3T7F2Y/plant.jpg");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

.toycar-cover {
    background: {
        image: url("https://i.ibb.co/dfMH7zb/car.png"); 
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

.plant-cover {
    background: {
        image: url("https://i.ibb.co/LZhQ7dG/strawberry.png");
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

/* INFO MODAL */

.fa-clone {
    color: $dark-green;
}

.fa-trophy {
    color: $orange;
}

.fa-star {
    color: yellow;
}

.fa-3x {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.info-box p {
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

/* WIN MODAL */

.win-stars {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
